<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({
    google: ['Nunito']
  }) %>

</head>
<body>

<header>
  <h1>Todo List</h1>
  <a href="/todos">Todos</a>
  <a href="">Blah</a>
</header>

<%= yield %>

<footer>
  <h5>Mike Pitre</h5>
</footer>

</body>
</html>
